/* PHASE 3: Layout */
.content {
  min-height: 200px;
  background-color: white;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*width: 900px;*/
  position: relative;
}

.content-sidebar {
  width: 30%;
  min-height: 200px;
  border-right: 1px solid lightgrey;
}

.content-main {
  width: 70%;
  min-height: 200px;
}

.main-container {
  border: 1px solid lightgrey;
  border-top: 0;
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}
